<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new booking</title>
</head>
<body>
<div th:if="${message}" class="alert alert-success" th:text="${message}"></div>


<form action="#" th:action="@{/bookings/add}" method="post">
  <label for="startDate"> Start date:</label><br>
  <input type="date" id="startDate" name="startDate" required><br><br>
  <label for="endDate"> End date:</label><br>
  <input type="date" id="endDate" name="endDate" required><br><br>
  <input type="hidden" id="customerId" name="customerId" th:value="*{customerId}">
  <label for="roomId"> Room Id:</label><br>
  <input type="text" id="roomId" name="roomId" value=""><br><br>
  <label for="extraBed"> Extra beds:</label><br>
  <input type="text" id="extraBed" name="extraBed" value=""><br><br>
  <input type="submit" value="Submit"></input>
</form>

</body>
</html>