<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add new booking</title>
</head>
<body>

<form action="#" th:action="@{/bookings/add}" method="post" th:object="${bookingDto}">
  <p th:if="${error}" th:text="${error}" style="color:red"></p>
  <label for="startDate"> Start date:</label><br>
  <input type="date" id="startDate" name="startDate" th:field="*{startDate}" value=""><br><br>
  <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
  <label for="endDate"> End date:</label><br>
  <input type="date" th:field="*{endDate}" id="endDate" name="endDate" value=""><br><br>
  <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
  <input type="hidden" id="customerId" name="customerId" th:value="${customerId}">
  <!--<label for="customerId"> Customer Id:</label><br>
  <input type="text" id="customerId" name="customerId" value=""><br><br>-->
  <label for="roomId"> Room Id:</label><br>
  <input type="text" id="roomId" name="roomId" th:field="*{miniRoom.roomId}" value=""><br><br>
  <label for="extraBed"> Extra beds:</label><br>
  <input type="text" id="extraBed" name="extraBed" th:field="*{extraBed}" value=""><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>