<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<body>

<h2 th:text="${title}"></h2>
<div class="allBookings" th:unless="${#lists.isEmpty(allBookings)}">
    <table>
        <th th:text="${name}"></th>
        <tbody>
        <tr th:each="booking : ${allBookings}">
            <td th:text="'Start date: '+${booking.startDate}+', end date: '+${booking.endDate}"></td><br>
            <br>
            <td th:text="'Customer id: '+${booking.miniCustomer.customerId}"></td><br>
            <td th:text="'Room id: '+${booking.miniRoom.roomId}"></td><br>
            <br>
            <td th:text="'Extra beds: '+${booking.extraBed}"></td>
            <td><a th:href="@{/bookings/deleteById/{id}(id=${booking.id})}">Delete</a></td>
            <td><a th:href="@{/bookings/updateById/{id}(id=${booking.id})}">Update</a></td>

        </tr>
        </tbody>
    </table>
</div>

<p></p>
<form action="#" th:action="@{/customers/all}" method="post">
    <input type="submit" value="All customers"></input>
</form>

</body>
</html>